
VR_PhantomMechanic/Saved/Config/Windows/EditorPerProjectUserSettings.ini
VR_PhantomMechanic/Intermediate/CachedAssetRegistry.bin
VR_PhantomMechanic/Saved/AutoScreenshot.png
VR_PhantomMechanic/Saved/Logs/VR_PhantomMechanic.log
VR_PhantomMechanic/Saved/Config/Windows/EditorPerProjectUserSettings.ini
